.example {
    width: 50%;
    background: #3F3F3F;
    font-family: monospace;
    margin: 15px auto !important;
    border-radius: 10px;
    text-align: left;
    padding: 10px  !important;
    color: lightcyan;
    border: 1px solid lightcyan !important;
}

.example sub {
    font-size: 0.5em !important;
}

.example sup {
    font-size: 0.6em !important;
}

.floating-point {
    width: 19.7em;
    margin: 15px auto !important;
    background: #3F3F3F;
    font-family: monospace;
    border-radius: 10px;
}

.floating-point span {
    display: block;
    width: 0.7em;
    float: left;
    color: black;
    font-size: 0.8em;
    margin: 0.3em 0;
}

.floating-point span.spacer {
   width: 0.3em;
   height: 1em;
}

.floating-point span.sign {
   background-color: lightcyan;
   margin-left: 0.3em;
}

.floating-point span.mantissa {
   background-color: #F095F0;
}


.floating-point span.implicit {
   background-color: lightcoral;
}



.floating-point span.exp {
   background-color: #ADF2AD;
}

.floating-point span.end {
   float: none;
   clear: both;
}